!!! 5
%html
  %head
    %title= 'Error ' + error + ' - ' + configs.title
  %body
    - if (error == 404)
      %h1 Error
      %h2 File not found!
      %span The page you were looking for was not found.
    - if (error == 500)
      %h1 Error
      %h2 Internal server error!
      %span You must have broke something!
