%section.articles
  - each article in articles
    %article.post
      %header
        %h1
          %a{href: article.permalink()}= article.title()
        %span
          Posted
          %time{datetime: article.date().isoformat(), pubdate: 'pubdate'}= article.date().pretty()
          - if (article.meta('author'))
            = ' by ' + article.meta('author')
      %section.content
        != article.body()
      %footer
        - if (configs.disqus)
          %span.comments-link
            %a{href: article.permalink() + '#disqus_thread', title: 'Comment on ' + article.title(), dataDisqusIdentifier: article.permalink(true)}
              Comments
%nav.paging
  - if (paging.previous)
    %a.previous{href: paging.previous} &laquo; Newer entries
  - if (paging.next)
    %a.next{href: paging.next} Older entries &raquo;
